.bg-image {
    background-image: url("../assets/images/webp/main/bg-image.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
/* the perks */
.partner-benefits {
    color:var(--bg-white);
}
.circle_svg {
    margin: -4px 10px 0px 0px;
    max-width: 14px !important;
    height: 14px !important;
}
.partner-program-text {
    max-width: 520px;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 20px;
}
.lorem-para {
    max-width: 600px;
    font-size:18px;
    color: var(--clr-white-5);
    padding-top: 24px;
    margin-bottom: 54px;
    line-height: 130%;
}
.laptop-img {
    width: 100%;
    max-width: 575px;
}
.the-perks-heading {
    font-size: 40px;
    line-height: 110%;
}
.mw-544 {
    max-width: 544px;
}
.perks-py {
    padding: 110px 0px;
}
/* hero */
.-mt-hero {
    margin-top: -310px;
}
.hosting-btn {
    font-size: 16px;
    line-height: 150%;
    box-shadow: 0px 1px 2px 0px #0D0D120A,0px 1px 3px 0px #0D0D120D;
    background: #2934443D;
    border-radius: 1000px;
    padding: 4px 12px 4px 14px;
    color: var(--clr-blue);
    margin-bottom: 31px;
}
.hero-sec-heading {
    font-size: 60px;
    line-height: 116%;
    color: var(--bg-white);
    padding-bottom: 31px;
}
.hero-sec-para {
    font-size: 16px;
    line-height: 160%;
    color: var(--bg-white);
    padding-bottom: 46px;
    max-width: 564px;
}
.computer-img {
    max-width: 580px;
}
.hero-bg {
   background-image: url("../assets/images/webp/main/hero-bg.webp");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.mw-586 {
    max-width: 586px;
}
.mw-580 {
    max-width: 580px;
}
.hero-py {
    padding: 123px 0px 178px;
}
.mw-77 {
    max-width: 77px;
}
.dots {
    left: 12%;
    bottom: -12%;
}
/* gaming */
.gaming-btn {
    font-size: 16px;
    line-height: 150%;
    box-shadow: 0px 1px 2px 0px #0D0D120A, 0px 1px 3px 0px #0D0D120D;
    background: #2934443D;
    border-radius: 1000px;
    padding: 4px 12px 4px 14px;
    color: var(--clr-blue);
    cursor: pointer;
}
.gaming-partner-heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 46.4px;
    color: #FCFCFF;
    padding: 16px 0px;
    max-width: 554px;
}
.gaming-partner-para {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    color: #FCFCFF;
    max-width: 1017px;
    padding-bottom: 56px;
}
.gap-12 {
    gap: 12px;
}
.partner-btn {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    border-radius: 90px;
    color: #ffffff;
    padding: 18px 36px;
    transition: background-color 0.4s ease, border-image 0.4s ease, transform 0.4s ease;
    margin-top: 56px;
    background: linear-gradient(0deg, #0656a0, #2898FF),
    linear-gradient(80.44deg, rgba(0, 63, 243, 0.8) 16.92%, rgba(48, 156, 255, 0.8) 97.49%);
    transition: all 0.3s ease-in-out;
}
.partner-btn:hover {
    box-shadow: 2px 2px 0px white;
}
.btn-view::after{
    content: '';
    position: absolute;
    background: linear-gradient(0deg, #2898FF, #2898FF),
linear-gradient(80.44deg, rgba(0, 63, 243, 0.8) 16.92%, rgba(48, 156, 255, 0.8) 97.49%);
width: 55px;
height: 55px;
left: -20px;
top: 50%;
transform: translateY(-50%);
border-radius: 50%;
transition: all 300ms linear;
}
.btn-view:hover::after{
    width: 190px;
    border-radius:100px;
}
.view-btn {
    color: var(--bg-white);
    font-size: 20px;
    line-height: 23px;
}
.gaming-box {
    background-image: url("../assets/images/webp/main/gaming-box.webp");
    padding: 77px 36px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.gaming-bg {
    background-image: url("../assets/images/webp/main/gaming-bg.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.gaming-partner-mw {
    max-width: 212px;
}
.img-filter {
    filter: grayscale(1);
    opacity: 40%;
    transition: all 0.3s ease-in-out;
}
.img-filter:hover {
    filter: grayscale(0);
    opacity: 100%;
}
.gaming-pb {
    padding-bottom:53px;
}
.-mr-hero-img {
    margin-right: -30px;
}
@media (min-width: 992px) {
    .custom_w {
        max-width: 1180px !important;
    }
}
@media (max-width: 1599.98px) {
    .-mt-hero {
        margin-top: -260px;
    }
}
@media (max-width: 1399.98px) {
.dots-none {
    display: flex;
    display: none;
}
.gaming-partner-mw {
    max-width: 180px;
}
}
@media (max-width: 1199.98px) {
    .laptop-img {
        max-width: 500px;
    }
    .computer-img {
        max-width: 450px;
    }
    .hero-sec-heading {
        font-size: 40px;
        line-height: 116%;
        padding-bottom: 31px;
    }
    .hero-py {
        padding: 100px 0px;
    }
    .-mr-hero-img {
        margin-right: 0;
    }
    .-mt-hero {
        margin-top: -284px;
    }
}
@media (max-width: 991.98px) { 
    .laptop-img {
        max-width: 500px;
    }
    .hero-sec-heading {
        font-size: 38px;
        line-height: 116%;
        padding-bottom: 28px;
    }
    .hero-py {
        padding: 80px 0px;
    }
    .hosting-btn {
        margin-bottom: 28px;
    }
    .hero-sec-para {
        padding-bottom: 36px;
    }
    .perks-py {
        padding: 80px 0px;
    }
    .gaming-partner-mw {
        max-width: 150px;
    }
    .gaming-box {
        padding: 60px 30px;
    }
    .partner-btn {
        margin-top: 40px;
    }
    .gaming-partner-para {
        padding-bottom: 40px;
    }
    .gaming-partner-heading {
        font-size: 40px;
        line-height: 46.4px;
    }
    .gaming-pb {
        padding-bottom: 40px;
    }
}
@media (max-width: 767.98px) { 
    .laptop-img {
        max-width: 400px;
    }
    .partner-program-text {
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 18px;
    }
    .lorem-para {
        font-size:16px;
        padding-top: 18px;
        margin-bottom: 40px;
        line-height: 130%;
    }
    .the-perks-heading {
        font-size: 28px;
        line-height: 110%;
    }
    .computer-img {
        max-width: 400px;
    }
    .hero-sec-heading {
        font-size: 32px;
        line-height: 116%;
        padding-bottom: 22px;
    }
    .hero-py {
        padding: 54px 0px;
    }
    .hosting-btn {
        margin-bottom: 20px;
    }
    .hero-sec-para {
        padding-bottom: 30px;
    }
    .perks-py {
        padding: 54px 0px;
    }
    .gaming-partner-mw {
        max-width: 130px;
    }
    .gaming-box {
        padding: 50px 25px;
    }
    .partner-btn {
        margin-top: 30px;
    }
    .gaming-partner-para {
        padding-bottom: 30px;
    }
    .gaming-partner-heading {
        font-size: 28px;
        line-height: 36px;
    }
    .gaming-pb {
        padding-bottom: 20px;
    }
}
@media (max-width: 575.98px) { 
    .laptop-img {
        max-width: 315px;
    }
    .partner-program-text {
        font-size: 14px;
        line-height: 130%;
        margin-bottom: 14px;
    }
    .lorem-para {
        font-size:14px;
        padding-top: 10px;
        margin-bottom: 24px;
        line-height: 130%;
    }
    .the-perks-heading {
        font-size: 18px;
        line-height: 110%;
    }
    .computer-img {
        max-width: 336px;
    }
    .hero-sec-heading {
        font-size: 22px;
        line-height: 116%;
        padding-bottom: 10px;
    }
    .hero-py {
        padding: 35px 0px 32px;
    }
    .hosting-btn {
        margin-bottom: 10px;
    }
    .hero-sec-para {
        padding-bottom: 25px;
    }
    .mt-35 {
        margin-top: 35px;
    }
    .perks-py {
        padding: 40px 0px 47px;
    }
    .view-btn {
        font-size: 18px;
        line-height: 20px;
    }
    .gaming-partner-mw {
        max-width: 112px;
    }
    .gaming-box {
        padding: 37px 12px 47px 12px;
    }
    .partner-btn {
        font-size: 16px;
        margin-top: 19px;
        font-size: 16px;
        padding: 14px 30px;
    }
    .gaming-partner-para {
        padding-bottom: 19px;
    }
    
    .gaming-partner-heading {
        padding: 10px 0px;
    }
    .gaming-partner-para {
        font-size: 14px;
    }
    .gaming-partner-heading {
        font-size: 22px;
        line-height: 26px;
    }
    .gap-6 {
        gap: 6px !important;
    }
    .btn-view::after{
    width: 47px;
    height: 47px;
    }
    .gaming-pb {
        padding-bottom: 0px;
    }
    .gaming-bg {
        background-image: url("../assets/images/webp/main/gaming-box-img.webp");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
    }
    .-mt-hero {
        margin-top: -294px;
    }
}


