@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    list-style-type: none !important;
    text-decoration: none !important;
    scroll-behavior: smooth;
}

/* Partner */
.managers {
    color: var(--clr-blue);
    font-size: 12px;
    line-height: 21px;
}

.manager-bg {
    padding: 4px 14px 4px 12px;
    background-color: #191921;
    border-radius: 1000px;
}

.partner {
    font-size: 22px;
    line-height: 26px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-30 {
    margin-top: 30px;
}

.discord {
    width: 55px;
    height: 55px;
    background: #191921;
    border-radius: 50%;
}

.host {
    color: var(--clr-white-5);
    font-size: 16px;
    line-height: 22px;
    padding-left: 9px;
}

.requirements-bg {
    width: fit-content;
    padding: 4px 14px 4px 12px;
    background-color: #191921;
    border-radius: 1000px;
}

.gap-xl {
    gap: 9px;
}

.padding-bottom {
    padding-bottom: 53px;
}

.include {
    color: var(--clr-white-5);
    font-size: 22px;
    line-height: 26.4px;
    padding-bottom: 12px;
    padding-top: 10px;
    max-width: 224px;
}

.card-body {
    background-color: var(--bg-black-2);
    padding: 40px 20.67px 38px 27.15px;
    border-radius: 24px;
    margin: 20px 0 0;
}

.modpacks {
    color: var(--clr-white-5);
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 14px;
}

.card-data {
    font-size: 16px;
    line-height: 23.2px;
    padding-left: 15px;
    max-width: 196px;
}

.svg-bg {
    border-radius: 50%;
    background: var(--clr-blue);
    box-shadow: 0px 16px 40px 0px #0D6EFD38;
    width: 70px;
    height: 70px;
    top: -35px;
    right: 40px;
}

.sectionpy {
    padding: 48px 0 48px;
}

.mt-28 {
    margin-top: 28px;
}

.icon {
    width: 15px !important;
    height: 15px !important;
    margin-top: 8px;
}

.cursor {
    cursor: pointer;
}

/* Requirements */

.bg-light-blue {
    background: #19192136;
}

.req-btn {
    width: 132px;
    height: 33px;
    border-radius: 80px;
    display: grid;
    place-items: center;
    font-size: 16px;
}

.collaborate-bg {
    background-image: url('../assets/images/webp/main/collaborate-small-img.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 36px;
    padding-bottom: 58px;
    margin-top: -1px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-24 {
    margin-top: 24px;
}

.input-box {
    background: #13131787;
    border: 1px solid #262626;
    max-width: 638px;
    padding: 16px;
    line-height: 21px;
    width: 100%;
    border-radius: 12px;
    outline: none;
    backdrop-filter: blur(10px);
}

.input-box::placeholder {
    color: white;
}

.message-box {
    height: 163px;
    resize: none;
}

.next-btn {
    width: 132px;
    height: 55px;
    border-radius: 90px;
    background-color: var(--bg-black-2);
    border: none;
    gap: 10px;
    transition: all 300ms linear;
}

.next-btn:hover {
    box-shadow: 2px 2px 0px white;
}

.next-btn img {
    transition: all 300ms linear;
}

.next-btn:hover img {
    transform: scale(1.2);
}

.border-box {
    max-width: 456px;
    height: 100px;
}

.max-w-456 {
    max-width: 456px;
}

.number-box {
    color: var(--bg-black-2);
    width: 105px;
    height: 105px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 42px;
    line-height: 43.85px;
    letter-spacing: 0.02em;
    place-items: center;
    background: var(--clr-white-2);
    margin: 4px;
    transition: all 300ms linear;
}

.number-box::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 100%;
    padding: 5px;
    background: linear-gradient(44.99deg, #EBEAEA 14.65%, #FFFFFF 85.35%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    transition: all 300ms linear;
}

.border-box:hover .number-box::after {
    background: transparent;
    backdrop-filter: blur(25px);
}

.border-box:hover .number-box {
    color: var(--clr-blue);
}

.gap-20 {
    gap: 20px;
}

.my-24 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.w-24 {
    width: 24px;
}

.h-24 {
    height: 24px;
}

.fs-xl {
    font-size: 18px;
}

.fs-md {
    font-size: 16px;
}

.fs-sm {
    font-size: 14px;
}

.my-18 {
    margin-top: 18px;
    margin-bottom: 18px;
}

/* game */

.card-main-hading {
    font-size: 40px;
    line-height: 46.4px;
    color: var(--clr-white-5);
    max-width: 740px;
    margin: auto;
    padding-bottom: 30px;
}

.hosting-btn {
    font-size: 16px;
    line-height: 24.8px;
    color: var(--clr-blue);
    box-shadow: 0px 1px 2px 0px #0D0D120A;
    background: #191921;
    padding: 12px 14px;
    border-radius: 50px;
    max-width: 185px;
    white-space: nowrap;
}

.game {
    background-image: url('/assets/images/webp/main/game-layer.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.py-125 {
    padding-top: 125px;
    padding-bottom: 125px;
}

.img-card {
    max-width: 100%;
    min-height: 336px;
    border-radius: 15px;
    background: var(--bg-black-2);
    padding: 20px;
    text-align: center;
    transition: all 300ms linear;
}

.img-card:hover {
    box-shadow: 1px 1px 5px white;
}

.rounded-10 {
    border-radius: 10px;
}

.img-card:hover img {
    transform: scale(1.09);
}

.img-card img {
    transition: all 300ms linear;
}

.card-text {
    font-size: 25px;
    line-height: 26.25px;
    padding-top: 30px;
    margin-bottom: 0 !important;
}

.card-image {
    max-width: 100%;
    height: auto;
}

/* price card */
.font-montserrat {
    font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--clr-blue);
}

.table-bg {
    background-image: url('/assets/images/webp/main/table-bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
}

.heading-box {
    background: #29344573;
    width: 673px;
    height: 61px;
    padding: 8px 20px;
    gap: 15px;
    border-radius: 12px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.star-green {
    max-width: 127px;
    height: 31px;
}

.btn-monthly {
    height: 45px;
    padding: 12px 30px;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    line-height: 21.33px;
    transition: all 300ms linear;
}

.btn-common,
.btn-monthly {
    background: none;
    box-shadow: none;
    transition: all 300ms linear;
}

.active-btn .btn-monthly {
    box-shadow: 0px 18px 30px 0px #0D6EFD3B;
    background: var(--clr-blue);
}

.active-btn .blue-box {
    opacity: 0;
}

.blue-box {
    background: var(--clr-blue);
    width: 73px;
    height: 33px;
    border-radius: 8px;
    top: -28px;
    font-size: 14px;
    line-height: 16.59px;
    place-items: center;
    transition: all 300ms linear;
}

.mt-37 {
    margin-top: 37px;
}

.mt-xl {
    margin-top: 30px;
}

.card-box {
    max-width: 369px;
    min-height: 362px;
    background-image: url('/assets/images/webp/main/card-green.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 33px;
    padding-top: 70px;
    padding-bottom: 25px;
    padding-left: 12px;
    padding-right: 12px;
}

.fs-sm {
    font-size: 14px;
    line-height: 17.84px;
}

.btn-raptor {
    box-shadow: 0px 23px 45px 0px #2832563D;
    background: #00B67A;
    width: 117.52px;
    height: 46px;
    border-radius: 125px;
    transition: all 300ms linear;
}

.btn-most {
    color: #00B67A;
    font-size: 12px;
    background: #00B67A1A;
    width: 118px;
    height: 33px;
    border-radius: 45px;
    place-items: center;
}

.fs-2xl {
    font-size: 25px;
    line-height: 29.63px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-18 {
    margin-top: 18px;
}

.months-box {
    border-top: 1px dashed #FFFFFF4D;
    padding-top: 17px;
    padding-bottom: 15px;
    font-size: 24px;
}

.months-box .plan-data {
    font-size: 18px;
}

.btn-add {
    gap: 10px;
    font-size: 18px;
    background: linear-gradient(80.44deg, rgba(0, 124, 83, 0.8) 16.92%, rgba(0, 182, 122, 0.8) 97.49%);
    height: 48px;
    border-radius: 90px;
    transition: all 300ms linear;
}

.btn-add img {
    transition: all 300ms linear;
}

.btn-raptor:hover,
.btn-monthly:hover {
    text-shadow: 2px 2px 0px black;
}

.btn-add:hover {
    box-shadow: 2px 2px 0px white;
    text-shadow: 2px 2px 0px black;
}

.w-133 {
    width: 133px;
}

.pt-33 {
    padding-top: 33px;
}

.btn-add:hover img {
    transform: scale(1.2);
    filter: drop-shadow(2px 2px 0px black);
}

.black-layer {
    background-image: url('/assets/images/webp/main/crad-black.webp');
}

.blue-layer {
    background-image: url('/assets/images/webp/main/card-blue.webp');
}

.pt-32 {
    padding-top: 32px;
}

.bg-blue {
    background: linear-gradient(80.44deg, rgba(0, 63, 243, 0.8) 16.92%, rgba(48, 156, 255, 0.8) 97.49%);
}

.light-blue {
    background: var(--clr-blue);
    box-shadow: 0px 23px 45px 0px #2832563D;
}

.fs-base {
    font-size: 16px;
    line-height: 21.79px;
}

.mxs-5 {
    margin-left: -5px !important;
    margin-right: -5px !important;
}

.pxs-5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

@media(max-width:1200px) {
    .card-image {
        width: 530px;
    }

    .card-text {
        padding-top: 20px;
        margin-bottom: 0;
    }
}

@media (max-width: 768.98px) {
    .card-main-hading {
        font-size: 30px;
    }

    .card-text {
        font-size: 22px;
    }

    .img-card {
        min-height: 300px;
    }

    .py-md-70 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media(max-width:576.99px) {
    .py-sm-48 {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .card-main-hading {
        font-size: 22px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 14px;
        line-height: 26px;
    }

    .card-text {
        font-size: 20px;
        margin-top: 10px;
    }

    .fs-2xl {
        font-size: 22px;
    }
}

@media(max-width:375px) {
    .card-text {
        font-size: 16px;
        margin-top: 10px;
    }
}

@media(min-width:576px) {
    .border-box {
        height: 114px;
    }

    .include {
        font-size: 32px;
        line-height: 43.4px;
        max-width: 100%;
    }

    .card-data {
        font-size: 16px;
        line-height: 23.2px;
        padding-left: 18px;
    }

    .gap-xl {
        gap: 42px;
    }

    .discord-img {
        width: 24px;
    }

    .partner {
        font-size: 32px;
        line-height: 41.4px;
    }

    .card-body {
        padding: 45px 20.67px 38px 22.15px;
        margin: 60px 0 0;
    }

    .svg-img {
        width: 32px;
    }
}

@media (min-width:768px) {
    .modpacks {
        font-size: 20px;
        line-height: 32px;
        padding-bottom: 18px;
    }

    .padding-bottom {
        padding-bottom: 60px;
    }

    .managers {
        font-size: 16px;
        line-height: 24.8px;
    }

    .sectionpy {
        padding: 53px 0 70px;
    }

    .card-body {
        padding: 55px 20.67px 38px 22.15px;
    }

    /* price */
    .heading-box {
        overflow: visible !important;
    }

    .mt-xl {
        margin-top: 50px;
    }

    .table-bg {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .overflow-x-md-visible {
        overflow-x: visible !important;
    }
}

@media (min-width:992px) {
    .collaborate-bg {
        background-image: url('../assets/images/webp/main/collaborate-bg-img.webp');
        background-size: cover;
        background-position: center;
        padding-top: 93px;
        padding-bottom: 144px;
    }

    .mt-lg-16 {
        margin-top: 16px;
    }

    .mt-lg-64 {
        margin-top: 64px;
    }

    .my-lg-24 {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .mt-lg-24 {
        margin-top: 24px;
    }

    .card-body {
        padding: 73px 20.67px 38px 22.15px;
    }

    .include {
        font-size: 40px;
        line-height: 46.4px;
        padding-top: 16px;
    }

    .padding-bottom {
        padding-bottom: 106px;
    }

    .host {
        font-size: 17px;
        line-height: 34px;
    }

    .partner {
        font-size: 40px;
        line-height: 46.4px;
    }

    .sectionpy {
        padding: 53px 0 141px;
    }

    /* price */
    .mt-lg-101 {
        margin-top: 101px;
    }

    .mb-lg-81 {
        margin-bottom: 81px;
    }

    .mt-lg-37 {
        margin-top: 37px !important;
    }

    .fs-2xl {
        font-size: 20px;
        line-height: 24.63px;
    }

    .mt-xl {
        margin-top: 68px;
    }

    .gap-lg-34 {
        gap: 34px !important;
    }

    .btn-add {
        height: 63px;
    }

    .fs-lg-3xl {
        font-size: 40px !important;
        line-height: 46.4px !important;
    }

    .months-box {
        font-size: 20px;
    }

    .msx-xl {
        margin-left: -7px;
        margin-right: -7px;
    }

    .pxs-xl {
        padding-left: 7px;
        padding-right: 7px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1180px !important;
    }

    .include {
        padding-bottom: 0;
    }

    .card-body {
        margin: 99px 0 0;
    }

    .collaborate-bg {
        background-size: 100% 100%;
    }

    /* price */
    .container {
        max-width: 1180px;
    }

    .card-box {
        padding-left: 32px;
        padding-right: 32px;
        min-height: 382px;
    }

    .fs-2xl {
        font-size: 25px;
        line-height: 29.63px;
    }

    .months-box {
        font-size: 24px;
    }

    .msx-xl {
        margin-left: -18px;
        margin-right: -18px;
    }

    .pxs-xl {
        padding-left: 18px;
        padding-right: 18px;
    }
}