.game_hosting_bg {
    background-image: url("../images/png/game_hosting_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.game_server_bg {
    background-image: url("../images/png/game-server-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.rounded_left_5 {
    border-radius: 5px 0px 0px 5px !important;
}

.btn-group>.btn-group:not(:first-child),
.btn-group>:not(.btn-check:first-child)+.btn {
    margin-left: calc(var(--bs-border-width) * 0) !important;
}

.custom_select {
    background: rgba(18, 18, 26, 0.60) !important;
    color: #959EAD !important;
    height: 44px;
}

.search_input_box {
    border-radius: 5px !important;
}

.search_input_box {
    color: #959EAD !important;
    line-height: 133.333%;
    cursor: pointer;
    /* width: 364px; */
}

.search_input:focus-visible {
    outline: unset !important;
}

.custom_select_box,
.search_input_box {
    width: 100% !important;
}

@media (max-width:991.98px) {
    .search_input_box {
        width: 100%;
    }

}

@media (max-width:767.98px) {
    .game_server_bg {
        border-radius: 18px !important;
        background-size: 100% 100;
        box-shadow: 0px -3.29px 0px 0px #0D6EFD inset;
    }


}



.bg-gradient {
    background-color: #111116;
}

.lh_normal {
    line-height: normal;
}

/* FAQS CSS */

.faq_parent .accordion-item:last-of-type {
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.faq_parent .accordion-item.active h2.accordion-header button {
    color: #0D6EFD !important;
}
.faq_parent .accordion-button:not(.collapsed){
    color: #0D6EFD !important;
}

.faq_parent .accordion-item:first-of-type {
    border: 1px solid unset !important;
    border-radius: 10px;
    background: #111116 !important;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.07) !important;
}

.faq_parent .accordion-item {
    border: 1px solid #111116 !important;
    border-radius: 10px;
    width: 100%;
    background: #111116 !important;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.07) !important;
}

.faq_parent .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.faq_parent .accordion-button {
    padding: 20px 16px !important;
}

.faq_parent .accordion-body {
    padding: 0px 14px 12px 14px !important;
}

.faq_parent .accordion-body p {
    color: #B2B7BD !important;
    border-top: 1px solid #252529;
    padding-top: 12px;

}

.faq_parent .accordion-button:not(.collapsed) {
    background-color: transparent !important;
}

.faq_parent .accordion-item:first-of-type .faq_parent .accordion-button {
    background: transparent !important;
    color: #FFF !important;
}

.faq_parent .accordion-button {
    background-color: transparent !important;
    color: #FFF !important;
}

.faq_parent .accordion-button:focus {
    border-color: transparent !important;
    box-shadow: none !important;
}

.faq_parent .accordion-button:not(.collapsed)::after {
    content: "";
    background-image: url("/assets/images/svg/faq-blue-arrow-icon.svg");
    top: 0 !important;
    right: 0 !important;
}

.faq_parent .accordion-button::after {
    content: "";
    background-image: url("/assets/images/svg/faq-arrow-icon.svg");
}

.faq_parent .accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.faq_parent .accordion {
    --bs-accordion-btn-icon-width: 13px !important;
    --bs-accordion-btn-icon-height: 13px !important;
}

.faq_parent .btn-login-common:hover::after,
button:focus::after {
    animation: none;
}